<li>
  {{input value=(mut newItem) class="input-add-item"}}
  <button type="button" class="button-add-item" {{action 'addElement' newItem}}>
    <span class="ion-plus-round" aria-hidden="true"></span>
    Add Item
  </button>
</li>

