<div class="container">
    <div class="object-contents">
        <div class="object-contents-header">
            <div class="object-contents-info">
                Map
            </div>
            <div class="object-contents-actions">
                {{object-actions model=model deleteObject="deleteObject"}}
            </div>
        </div>
        <div class="object-contents-body">
            <form class="form-inline">
                {{object-contents-registers model=model}}
            </form>

          {{#if model.contentsForDisplay}}
          <code>{{model.contentsForDisplay}}</code>
          {{/if}}
        </div>
        <div class="object-contents-footer">
            <strong>Page loaded:</strong> {{model.metadata.dateLoaded}}
        </div>
    </div>
</div>
<br />
