<div class="container set-contents-list">
    <h5>Sets ({{model.setsList.length}})</h5>

    {{#each model.setsList as | setField |}}
        <div class="row map-composite-field-name">
            <div class="col-md-12">
                <button type="button" class="btn btn-xs btn-danger"
                      {{action 'removeField' model setField}}>
                  remove set
                </button>
                &nbsp;&nbsp;
                <strong>{{setField.fullName}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{object-contents-set-elements model=setField
                    setElements=setField.value
                    removeElement="removeElement" addElement="addElement"}}
            </div>
        </div>
    {{/each}}
</div>
