<div class="container set-contents-list">
  <h5>Counters ({{model.countersList.length}})</h5>

  {{#each model.countersList as | counter |}}
    <div class="row set-element-row">
      <div class="col-md-1">
        <button type="button" class="btn btn-xs btn-danger"
          {{action 'removeField' model counter}}>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-3 field-label">
        <strong>{{counter.name}}</strong>
      </div>
      <div class="col-md-8">
        <code>
          {{counter.valueForDisplay}}
        </code>
      </div>
    </div>
  {{/each}}
</div>
