<div class="container set-contents-list">
    <h5>Flags ({{model.flagsList.length}})</h5>

    {{#each model.flagsList as | flag |}}
        <div class="row set-element-row">
            <div class="col-md-1">
                <button type="button" class="btn btn-xs btn-danger"
                      {{action 'removeField' model flag}}>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-md-3 field-label">
                <strong>{{flag.name}}</strong>
            </div>
            <div class="col-md-8">
                <code>
                {{flag.value}}
                </code>
            </div>
        </div>
    {{/each}}
</div>
