{{#if headers}}
  <table class="key-value-table">
    <tbody>
      {{#each headers as |header|}}
        <tr>
          <td class="key">{{header.key}}</td>
          <td class="value">{{header.value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}