<div class="container set-contents-list">
    {{#each setElements as | element |}}
        <div class="row set-element-row">
            <div class="col-md-12">
              {{button.set-element-remove model=model item=element
                  removeElement="removeElement"}}
              &nbsp;&nbsp;
                <span class="set-element">{{element}}</span>
            </div>
        </div>
    {{/each}}

    <div class="row set-element-row">
        <div class="col-md-12">
            {{input value=elementToAdd class="form-control"}}
            <button type="button" class="btn btn-sm btn-primary"
                    {{action 'addElement' model}}>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add element</button>
        </div>

    </div>
</div>
