<table class="key-value-table">
  <tbody>
  <tr>
    <td class="key">Last Modified:</td>
    <td class="value">{{object.metadata.dateLastModified}}</td>
  </tr>
  <tr>
    <td class="key">Etag:</td>
    <td class="value">{{object.metadata.etag}}</td>
  </tr>
  <tr>
    <td class="key">Causal Context:</td>
    <td class="value">{{object.metadata.causalContext}}</td>
  </tr>
  </tbody>
</table>
