<table class="table">
<thead>
    <tr>
        <th>Index</th>
        <th>Schema</th>
        <th>n_val</th>
    </tr>
</thead>
<tbody>
{{#each indexes as |index|}}
    <tr>
        <td>{{link.link-index searchIndex=index}}</td>
        <td>
            {{#link-to 'search-schema' index.cluster.id index.schema.name class='btn btn-small btn-primary'}}
                {{index.schema.name}}
            {{/link-to}}
        </td>
        <td>{{index.nVal}}</td>
    </tr>
{{else}}
    No indexes found.
{{/each}}
</tbody>
</table>
