<div class="drawer-header">
  <div class="drawer-label">{{label}}</div>

  <div class="close-container"  {{action 'close'}}>
    <span class="ion-close-round"></span>
  </div>
</div>

<div class="drawer-body">
  {{yield}}
</div>