<div class="sidebar-panel">
  <ul class="sidebar-group">
    <li class="sidebar-group-heading">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      Clusters
    </li>
    {{#each clusters as |cluster|}}
      <li class='sidebar-group-item'>
        {{#link-to 'cluster' cluster}}
          {{cluster.id}}
          {{#if cluster.developmentMode}}
            <span class='dev-mode'>Dev mode</span>
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  <ul class="sidebar-group">
    <li class="sidebar-group-heading">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      Resources
    </li>
    <li class='sidebar-group-item'>
      {{link-to 'API Docs' 'explorer_api'}}
    </li>
  </ul>
</div>
