.table-create-container {
  //.table-name {
  //  width: 354px;
  //}
  //
  //.family, .series, .table-field {
  //  input {
  //    width: 175px;
  //  }
  //
  //  select {
  //    width: 175px;
  //  }
  //}
  //
  //.quantum {
  //  input, select {
  //    width: 100%;
  //  }
  //
  //  .field-name {
  //    width: 175px;
  //  }
  //
  //  .quantity {
  //    width: 66px;
  //  }
  //
  //  .unit {
  //    width: 105px;
  //  }
  //}
  //
  //.remove-field {
  //  font-size: 9px;
  //  cursor: pointer;
  //}
  //
  //.add-field {
  //  @extend a;
  //  cursor: pointer;
  //}


  .manually-create {

    .help-link {
      @extend a;
      text-transform: uppercase;
      font-size: 8px;
      cursor: pointer;
    }

    .CodeMirror {
      height: 257px;
    }

    .create-button {
      margin-top: 20px;
    }
  }
}

.table-query-container {
  .query-module {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .split-panel {
    $panel-height: 125px;

    @include flexbox;
    @include flex-direction(row);

    .left-panel {
      @include flex(1);

      .btn {
        float: right;
      }

      textarea.form-control {
        min-height: $panel-height;
      }
    }

    .right-panel {
      @include flex(1);
      padding-left: 15px;

      .clear-statement {
        @extend a;
        cursor: pointer;
        font-size: 10px;
        margin-right: 5px;
      }

      pre {
        min-height: $panel-height;
      }
    }
  }
}
