.table-create-container {
  .table-name {
    width: 354px;
  }

  .family, .series, .table-field {
    input {
      width: 175px;
    }

    select {
      width: 175px;
    }
  }

  .quantum {
    input, select {
      width: 100%;
    }

    .field-name {
      width: 175px;
    }

    .quantity {
      width: 66px;
    }

    .unit {
      width: 105px;
    }
  }

  .remove-field {
    font-size: 9px;
    cursor: pointer;
  }

  .add-field {
    @extend a;
    cursor: pointer;
  }
}

.table-query-container {
  .query-module {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .split-panel {
    $panel-height: 125px;

    @include flexbox;
    @include flex-direction(row);

    .left-panel {
      @include flex(1);

      button {
        float: right;
      }

      textarea.form-control {
        min-height: $panel-height;
      }
    }

    .right-panel {
      @include flex(1);
      padding-left: 15px;

      pre {
        min-height: $panel-height;
      }
    }
  }
}
