{{#dashboard-module.container class='medium-width'}}
  {{dashboard-module.header label='503 Service Unavailable'}}
  {{#dashboard-module.body}}
    <p>The application was not able to connect to the Riak Explorer API.</p>
    <p>
      Please refer to any documentation in the
      <a href="https://github.com/basho-labs/riak_explorer">Github repository</a>
    </p>
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
