<section class="table-ref">
  <div class="section-title">Table Reference</div>
  {{table.ts-table-reference table=table}}
</section>

<section class="table-write">
  <div class="section-title">Table Editor</div>

  <div class="form-group">
    <div class="help-block">
      <small>Example: <code>[["somefamily", "someseries", "somefield", "anotherfield"]]</code></small>
    </div>
    {{textarea
      value=(mut rowsString)
      class="form-control"
      rows="4"}}
  </div>

  <button type="submit" class="btn btn-primary" disabled={{isDisabled}}>
    Insert Rows
  </button>
</section>