{{#alert-component type="danger" dismissible=false}}
  <h4><span class="label label-danger">ERROR</span></h4>
  Solr requires that the schema tag has a name attribute. Please update your xml.
{{/alert-component}}