{{#alert-component type="danger" dismissible=false}}
  <h4><span class="label label-danger">ERROR</span></h4>
  Invalid JSON, must be parseable. Make sure to wrap any keys in double quotes. You can use a linter at
  <a href="http://jsonlint.com/" target="_blank">JSONLint</a>.
{{/alert-component}}