{{#if errors}}
  {{#bs-alert type="danger" dismissible=false}}
    <h4><span class="label label-danger">ERRORS</span></h4>
    <ul>
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

{{#if successMessage}}
  {{#bs-alert type="success" dismissible=false}}
    <h4><span class="label label-success">SUCCESS</span></h4>
    <ul>
      <p>{{successMessage}}</p>
    </ul>
  {{/bs-alert}}
{{/if}}

<div class='bucket-types-container'>
  {{#dashboard-module.container class='table-query-container'}}
    {{dashboard-module.header label='Query Table'}}

    {{#dashboard-module.body}}
      {{form.table.query-table
        table=model
        errors=(mut errors)
        successMessage=(mut successMessage)}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>
