{{#dashboard-module
label='Object Details'}}
  {{#if model.isLoaded}}
    <div class="riak-object">
      {{object-metadata metadata=model.metadata isEditing=true}}
      {{object-contents model=model isEditing=true saveObject="saveObject"}}
    </div>
  {{else}}
    {{loading-spinner}}
  {{/if}}
{{/dashboard-module}}


