{{#alert-component type="info"}}
  <h4><span class="label label-info">Notes on Table Creation</span></h4>
  <ul>
    <li>If field names need to contain spaces they can be double quoted.</li>
    <li>Quantum field name must be an existing field in the table definition of type <strong>timestamp</strong></li>
    <li>For more information on planning and creating a time series table, visit the <a href="http://docs.basho.com/riak/ts/1.2.0/using/planning/" target="_blank">Basho Docs</a>.</li>
  </ul>
{{/alert-component}}

{{#if errors}}
  {{#alert-component type="danger" dismissible=false}}
    <ul>
      <h4><span class="label label-danger">Errors</span></h4>
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  {{/alert-component}}
{{/if}}

<div class="table-create-container" xmlns="http://www.w3.org/1999/html">
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='New Table'}}
      <div class="module-actions">
        {{#link-to 'cluster.data' model.cluster.name class="cancel action-button"}}
          <span class="ion-close-round" aria-hidden="true"></span>
          Cancel
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}

      <div class="manually-create">
        <label>Schema Editor</label>
        <div class="help-block">
          Use the editor below to define your table. A sample template has been inserted to get you started.
        </div>
        {{ivy-codemirror
          mode='sql'
          theme='material'
          autofocus=true
          value=statement}}

        <div class="form-group create-button">
          <button class="btn btn-primary" {{action 'createTableManually'}}>Create Table</button>
        </div>
      </div>


      {{!--{{form.table.create-table--}}
        {{!--errors=(mut errors)--}}
        {{!--table=model--}}
        {{!--addField='addField'--}}
        {{!--removeField='removeField'--}}
        {{!--createTable='createTable'}}--}}

    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>
