.view-body {
  .alert {
    border-radius: 0;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.alert {
  ul {
    list-style: disc inside;
  }
}
