.view-body {
  .alert {
    border-left: none;
    border-radius: 0;
    border-right: none;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 20px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  .dashboard-module {
    .alert {
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 15px;
    }
  }

  .close {
    padding-left: 10px;
  }

  .more-info {
    color: #474747; // TODO: Make one for each type of alert, right now styled for .info-alert
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }
}

.alert {
  ul {
    list-style: disc inside;
  }
}
