.breadcrumb-container {
  display: block;
  margin-bottom: 10px;
  min-height: 17px;

  .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: inherit;
    font-size: 12px;

    li {
      color: lighten($grayscale-color-dark, $color-accent-percentage-large);
      &:last-child {
        a {
          cursor: default;
          color: lighten($grayscale-color-dark, $color-accent-percentage-large);
        }
      }
    }
  }
}
