.code-list {
  margin-bottom: 20px;

  li {
    padding-bottom: 5px;
    border-bottom: 1px solid $grayscale-color-x-light;
    margin-bottom: 3px;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}
