.dashboard-module {
  background: #FFF;
  border: 1px solid $grayscale-color-x-light;
  border-top: 3px solid $grayscale-color-x-light;
  margin: 20px 20px 30px 40px;

  &.small-width {
    max-width: 600px;
  }

  &.medium-width {
    max-width: 800px;
  }

  &.large-width {
    max-width: 1000px;
  }

  &.no-border {
    background: none;
    border: none;

    .module-body {
      padding: 0;
    }
  }

  .module-header {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    border-bottom: 1px solid $grayscale-color-x-light;
    padding: 20px;

    .module-label {
      font-size: 18px;
      line-height: 30px;
    }

    .module-actions {
      .action-button {
        @extend .btn;
        @extend .btn-sm;
        margin-left: 5px;
      }

      .edit {
        @extend .btn-primary;
      }

      .cancel {
        @extend .btn-danger;
      }

      .delete {
        @extend .btn-danger;
      }

      .update {
        @extend .btn-primary;
      }

      .create {
        @extend .btn-primary;
      }

      .save {
        @extend .btn-primary;
      }

      .raw {
        @extend .btn-primary;
      }

      .refresh {
        @extend .btn-primary;
      }
    }
  }

  .module-body {
    padding: 20px;
    position: relative;

    .module-edit-group {
      .group-header {
        font-size: 18px;
        padding: 10px 0;
      }

      .key {
        width: 25%;
      }

      .value {
        width: 75%;
      }
    }
  }

  .mini-label {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-module {
    margin: 10px;
  }
}
