.key-value-table {
  th, td {
    padding-bottom: 10px;
    vertical-align: top;
  }

  .key {
    font-weight: bold;
    padding-right: 20px;
  }

  .table-in-kv-table {
    thead th {
      padding-top: 0;

      &:first-child {
        padding-left: 0;
      }
    }

    tbody td {
      &:first-child {
        padding-left: 0;
      }
    }

    li {
      margin-bottom: 5px;
    }
  }

  &.bucket-props-overview {
    .key {
      min-width: 175px;
    }
  }

  &.bucket-props-advanced {
    .key {
      min-width: 225px;
    }
  }

}
