.map-section {
  margin-bottom: 30px;

  code {
    font-size: 16px;
  }

  .map-section-title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .item-instance {
    button {
      @extend .btn;
      @extend .btn-xs;
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }

    .delete-button {
      @extend .btn-danger;
    }

    .edit-button {
      @extend .btn-primary;
    }
  }

  .add-instance {
    .add-instance-input {
      @extend .form-control;
      display: inline;

      &.make-room {
        width: 50%;
      }
    }

    .add-instance-button {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

.map-section.maps-list {
  .map-name {
    font-weight: bold;
    margin-bottom: 10px;

    .expand-contents {
      cursor: pointer;
      font-weight: normal;
      margin-left: 15px;
    }
  }

  .sub-map-contents {
    background: rgba(0, 0, 0, .05);
    display: none;
    margin-bottom: 10px;
    padding: 10px;

    &.expanded {
      display: block;
    }
  }
}
