.legacy-map-styling {
  th {
    background: #FFF
  }
  tr:nth-child(even) {
    background: #FFF
  }
  tr:nth-child(odd) {
    background: #EEE
  }

  .nowrap {
    white-space: nowrap;
  }

  .loading {
    padding-bottom: 3em;
    padding-top: 3em;
  }

  .cluster-resource-header {
    background-color: #3c948b;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 3em 6px 2em;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
  }

  .cluster-resource-link {
    /*background-color: #337ab7;*/
    padding: 6px 2em 6px 1em;
    text-align: left;
  }

  .cluster-resource-icon {
    margin-right: 1em;
  }

  .status-ok {
    color: green;
  }
  .status-disabled {
    color: grey;
  }
  .warning {
    color: red;
  }

  .key {
    padding-bottom: 3em;
    padding-top: 3em;
  }

  .spinner {
    padding: 3em 0px;
  }

  .property-header {
    background-color: #DDD;
    margin-bottom: 1em;
    padding: 0.5em 3px;
  }

  .bucket-properties {
    border: 1px solid gray;
    box-sizing: border-box;
    margin-bottom: 2em;
    margin-left: 0px auto;

    margin-right: 0px auto;
    margin-top: 2em;
  }

  .property-row {
    padding: 0.5em 1em;
  }

  .object-contents {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 20px;
    position: relative;
    width: 95%;
  }

  .object-contents-header {
    background-color: #e7ecee;
    border-bottom: 1px solid #d8d8d8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    line-height: 30px;
    padding: 5px 10px;
  }

  .object-contents-header::before {
    content: "";
    display: table;
  }

  .object-contents-header::after {
    clear: both;
    content: "";
    display: table;
  }

  .object-contents-actions {
    float: right;
    /*padding-top: 3px;*/
  }

  .object-contents-info {
    float: left;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
  }

  .object-contents-body {
    background-color: #f7f7f7;
    padding: 20px;
  }

  .object-contents-footer {
    background-color: #e7ecee;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px solid #d8d8d8;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 11px;
    line-height: 30px;
    padding: 5px 10px;
  }

  .value-counter {
    font-size: 200%;
  }

  .set-contents-list {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 1.5em;
    width: 100%;
  }
  .set-contents-list div.set-element-row:nth-child(even) {
    background-color: #eee;
  }
  .set-element-row {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0px;
  }
  .set-element {
    font-size: 110%;
  }

  .field-label {
    font-weight: bold;
    text-align: right;
  }

  .map-composite-field-name {
    padding: 0.5em 0px;
  }

  .form-inline .input-increment {
    vertical-align: middle;
    width: 5em;
  }

  .divider {
    font-size: 150%;
    margin: 0px 10px;
    vertical-align: middle;
  }
}
