.ember-application {
  .tooltip-icon {
    color: #777;
    cursor: help;
    font-size: 10px;
  }

  .tooltip {
    &.in {
      opacity: 1;
    }

    &.tooltip-wide {
      max-width: 400px;
    }

    .tooltip-content-wrapper {
      padding: 10px;

      .title-wrapper {
        margin-bottom: 10px;

        .title {
          @extend .label;
          @extend .label-default;
          font-size: 14px;
          word-break: break-word;
        }
      }

      .description-wrapper {
        margin-bottom: 5px;

        .description {
          display: inline-block;
          word-break: break-word;
        }
      }

      .small {
        font-size: 12px;
        font-style: italic;
        word-break: break-word;
      }
    }
  }
}



