{{#if model.warnings}}
  {{#bs-alert type="warning" dismissible=false}}
    <h4><span class="label label-warning">WARNINGS</span></h4>
    <ul>
      {{#each model.warnings as |warning|}}
        <li>{{warning}}</li>
      {{/each}}
    </ul>
  {{/bs-alert}}
{{/if}}

<div>
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='Table Information'}}
      <div class="module-actions">
        {{#link-to 'table.write' model.cluster.name model.name class='action-button create'}}
          <span class="ion-plus-circled" aria-hidden="true"></span>
          Write Data
        {{/link-to}}

        {{#link-to 'table.query'
        model.cluster.name
        model.name
        class='action-button create'}}
          <span class="ion-search" aria-hidden="true"></span>
          Query Data
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}

    {{#dashboard-module.body}}
      <label>Data Definition Langauge (DDL)</label>
      {{#code-highlighter language-type='erlang'}}
        {{model.props.ddl}}
      {{/code-highlighter}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>
