.sidebar-panel {
  @include flex(none);
  background-color: lighten($grayscale-color-dark, 10%);
  border-right: 1px solid darken($grayscale-color-dark, $color-accent-percentage-small);
  overflow-y: auto;
  width: $sidebar-panel-width;

  .cluster-selector {
    background-color: lighten($grayscale-color-dark, 2%);
    border: none;
    border-bottom: 1px solid $grayscale-color-x-dark;
    border-top: 1px solid lighten($grayscale-color-dark, $color-accent-percentage-small);
    padding: 5px;
    width: 100%;

    .ember-power-select-trigger {
      &:focus {
        outline: none;
      }
    }

    .ember-power-select-status-icon {
      margin-right: 5px;
    }
  }

  .current-cluster {
    header {
      @include dark-background-font;
      background-color: lighten($grayscale-color-dark, 2%);
      border-bottom: 1px solid $grayscale-color-x-dark;
      border-top: 1px solid lighten($grayscale-color-dark, $color-accent-percentage-small);
      padding: 10px;
      position: relative;

      .title {
        display: block;
        font-size: 18px;
        margin-right: 20px;
        word-break: break-all;
      }

      .meta {
        font-size: 9px;
        text-transform: uppercase;

        li {
          &:after {
            content: ", ";
          }

          &:last-child {
            &:after {
              content: "";
            }
          }
        }

        .dev-mode {
          color: $branding-color-1;
        }
      }

      .cluster-status-circle {
        border-radius: 8px;
        box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, .75);
        -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, .75);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .75);
        display: inline-block;
        height: 16px;
        margin-top: -8px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 16px;

        &.ok {
          background: darken(#5cb85c, 10);
        }

        &.warning {
          background: darken(#f0ad4e, 10);
        }

        &.down {
          background: darken(#d9534f, 10);
        }
      }
    }

    .cluster-section-links {
      %current-link-style {
        &:after {
          background: lighten($grayscale-color-light, $color-accent-percentage-large);
          border-radius: 4px;
          content: "";
          display: inline-block;
          height: 8px;
          left: 8px;
          margin-top: -4px;
          position: absolute;
          top: 50%;
          width: 8px;
        }
      }

      a {
        @include dark-background-font;
        background-color: lighten($grayscale-color-dark, 5%);
        border-bottom: 1px solid $grayscale-color-x-dark;
        border-top: 1px solid lighten($grayscale-color-dark, $color-accent-percentage-small);
        display: block;
        font-size: 16px;
        padding: 10px 10px 10px 25px;
        position: relative;
        text-transform: uppercase;

        &:hover {
          background-color: $grayscale-color-dark;
        }
      }

      &.current-section-is-data {
        .data {
          @extend %current-link-style;
        }
      }

      &.current-section-is-ops {
        .ops {
          @extend %current-link-style;
        }
      }

      &.current-section-is-query {
        .query {
          @extend %current-link-style;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar-panel {
    width: 100%;

    .current-cluster {
      header {
        display: none;
      }

      .cluster-section-links {
        a {
          padding: 5px 5px 5px 25px;
        }
      }
    }
  }
}
