.topbar {
  @include flex(none);
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  background-color: $grayscale-color-dark;
  border-bottom: 1px solid darken($grayscale-color-dark, $color-accent-percentage-small);
  height: $topbar-panel-height;

  .logo {
    display: inline-block;
    height: 30px;
    width: 150px;
    margin: 20px;
  }

  .topbar-nav {
    display: inline-block;

    .topbar-nav-item {
      float: left;
      border-left: 1px solid $grayscale-color-x-dark;

      a {
        @include dark-background-font;
        display: inline-block;
        padding: 0 20px;
        line-height: $topbar-panel-height;
        border-left: 1px solid lighten($grayscale-color-dark, $color-accent-percentage-small);

        &:hover {
          @include dark-background-font;
          background-color: darken($grayscale-color-dark, $color-accent-percentage-small);
          border-left: 1px solid $grayscale-color-dark;
        }

        &.selected {
          cursor: default;
          border-left: 1px solid darken($grayscale-color-dark, $color-accent-percentage-large);
          background-color: darken($grayscale-color-dark, $color-accent-percentage-large);
        }
      }
    }
  }
}
