.topbar {
  @include flex(none);
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  background-color: $grayscale-color-dark;
  border-bottom: 1px solid darken($grayscale-color-dark, $color-accent-percentage-small);
  height: $topbar-panel-height;

  .logo {
    display: inline-block;
    height: 30px;
    margin: 20px;
    width: 150px;
  }

  .topbar-nav {
    display: inline-block;

    .topbar-nav-item {
      border-left: 1px solid $grayscale-color-x-dark;
      float: left;

      a {
        @include dark-background-font;
        border-left: 1px solid lighten($grayscale-color-dark, $color-accent-percentage-small);
        display: inline-block;
        line-height: $topbar-panel-height;
        padding: 0 20px;

        &:hover {
          @include dark-background-font;
          background-color: darken($grayscale-color-dark, $color-accent-percentage-small);
          border-left: 1px solid $grayscale-color-dark;
        }

        &.selected {
          background-color: darken($grayscale-color-dark, $color-accent-percentage-large);
          border-left: 1px solid darken($grayscale-color-dark, $color-accent-percentage-large);
          cursor: default;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  $topbar-panel-height: 40px;

  .topbar {
    width: 100%;
    height: $topbar-panel-height;

    .logo {
      margin: 5px;
    }

    .topbar-nav {
      .topbar-nav-item {
        a {
          line-height: $topbar-panel-height;
        }
      }
    }
  }
}
