{{#dashboard-module.container}}
  {{dashboard-module.header label='File output'}}
  {{#dashboard-module.body}}
    {{#if model.content}}
      {{ivy-codemirror
        mode='erlang'
        theme='material'
        lineWrapping=true
        readOnly=true
        value=model.content}}
    {{else}}
      {{#alert-component type="info"}}
        <p><strong>File contains no contents.</strong></p>
      {{/alert-component}}
    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
