{{#dashboard-module.container}}
  {{dashboard-module.header label='File output'}}
  {{#dashboard-module.body}}
    {{#if model.content}}
      {{code-highlighter
        lang='erlang'
        code=model.content}}
    {{else}}
      {{#alert-component type="info"}}
        <p><strong>File contains no contents.</strong></p>
      {{/alert-component}}
    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
