<div class="form-group">
  <label>Write to table</label>
  <span class="help-block">
    Some help text on what a correctly formed row(s) insertion looks like
  </span>
  {{textarea
    value=(mut rowsString)
    class="form-control"
    rows="4"
    placeholder='Example: [["somefamily", "someseries", "somefield", "anotherfield"]]'}}
</div>

<button type="submit" class="btn btn-primary" disabled={{isDisabled}}>
  Insert Rows
</button>
