<div class="form-group">
  <label>Query Table</label>
  <span class="help-block">
    Some help text on what a correctly formed query looks like
  </span>
  {{textarea
    value=(mut queryString)
    class="form-control"
    rows="4"
    placeholder="select * from GeoCheckin where time > 24 and time < 26 and myfamily = 'family1' and myseries = 'series1'"}}
</div>

<button type="submit" class="btn btn-primary" disabled={{isDisabled}}>
  Run Query
</button>
