{{#dashboard-module class='half'}}
  {{dashboard-module-header label='404 Cluster Not Found'}}
  {{#dashboard-module-body}}
    <p>The cluster id you requested was not found</p>
  {{/dashboard-module-body}}
{{/dashboard-module}}
