{{#dashboard-module class='half'}}
  {{dashboard-module-header label='An unknown error has occurred'}}
  {{#dashboard-module-body}}
    <p>Consider opening a bug report.</p>
  {{/dashboard-module-body}}
{{/dashboard-module}}