{{#dashboard-module.container class='small-width'}}
  {{dashboard-module.header label='Page not found: 404 Error'}}
  {{#dashboard-module.body}}
    <p>Sorry but the page your looking for doesn't exist.</p>
    <p>If you believe this to be a bug, please consider
      <a href="https://github.com/basho-labs/riak-explorer-gui/issues" target="_blank">
        creating an issue</a>.</p>
  {{/dashboard-module.body}}
{{/dashboard-module.container}}