{{#dashboard-module.container}}
  {{#dashboard-module.header}}
    <span>&nbsp;</span>
    <div class="module-actions">
      <span class="update action-button" {{action 'updateSchema' model}}>
        <span class="ion-edit" aria-hidden="true"></span>
        Update Schema
      </span>

      {{#link-to 'search-schema' model.cluster.name model.name class='cancel action-button' }}
        <span class="ion-close-round" aria-hidden="true"></span>
        Cancel
      {{/link-to}}
    </div>
  {{/dashboard-module.header}}
  {{#dashboard-module.body}}
    {{#if model.content}}
      <pre class="editable">
        <code>
          {{content-editable
          value=editableContent
          type="html"}}
        </code>
      </pre>
    {{/if}}
  {{/dashboard-module.body}}
{{/dashboard-module.container}}
