body {
  background-color: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

section {
  margin-bottom: 20px;

  .section-title {
    font-size: 16px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }

  &.form-section {
    margin-bottom: 40px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  li {
    margin-bottom: 10px;
  }
}

a {
  color: $branding-color-1;

  &:hover {
    color: $branding-color-1;
    text-decoration: none;
  }

  &:focus {
    color: $branding-color-1;
    text-decoration: none;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  &:last-child {
    margin: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
