body {
  background-color: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $branding-color-1;

  &:hover {
    color: $branding-color-1;
    text-decoration: none;
  }

  &:focus {
    color: $branding-color-1;
    text-decoration: none;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  &:last-child {
    margin: 0;
  }
}
