/*** Colors ***/
$branding-color-1: #E67716; // Orange
$branding-color-2: #79AFB7; // Teal
$branding-color-3: #A92A0E; // Red
$branding-color-4: #B69174; // Light Brown
$branding-color-5: #474747; // Dark grey

$grayscale-color-white: #FFFFFF;
$grayscale-color-x-light: #E4E4E4;
$grayscale-color-light: #999999;
$grayscale-color-medium: #767676;
$grayscale-color-dark: #333333;
$grayscale-color-x-dark: #111111;

$color-accent-percentage-small: 10%;
$color-accent-percentage-large: 20%;

/*** Layout ***/
$topbar-panel-height: 70px;
$sidebar-panel-width: 250px;
