<div class='cluster-information-container'>
  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='Search Overview'}}
      <div class="module-actions">
        {{#link-to 'search-schema.create' model.name class='btn btn-small btn-primary'}}
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Create new search schema
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      {{#if model.searchIndexes}}
        {{table.search-indexes indexes=model.searchIndexes}}
      {{else}}
        <p>No search indexes found</p>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>


