<div class='cluster-information-container'>
  {{#if model.isTimeSeries}}
    {{#dashboard-module.container class='medium-width'}}
      {{#dashboard-module.header label='TS Tables'}}
        <div class="module-actions">
          {{#link-to 'table.create' model.name class='action-button create'}}
            <span class="ion-plus-circled" aria-hidden="true"></span>
            Create New Table
          {{/link-to}}
        </div>
      {{/dashboard-module.header}}
      {{#dashboard-module.body}}
        {{#if model.tables}}
          {{#pagination-component
          chunkSize=pageSize
          totalSize=model.tables.length
          sectionRequest='tablePageRequest'
          classToApplyIfVisible='paginated-table'}}
            {{table.ts-tables tables=currentPageTables}}
          {{/pagination-component}}
        {{else}}
          <p>No Time Series tables have been created on this cluster</p>
        {{/if}}
      {{/dashboard-module.body}}
    {{/dashboard-module.container}}
  {{/if}}

  {{#dashboard-module.container class='medium-width'}}
    {{#dashboard-module.header label='KV Bucket Types Schema/Indexes'}}
      <div class="module-actions">
        {{#link-to 'search-schema.create' model.name class='btn btn-small btn-primary'}}
          <span class="ion-plus-circled" aria-hidden="true"></span>
          Create new search schema
        {{/link-to}}
      </div>
    {{/dashboard-module.header}}
    {{#dashboard-module.body}}
      {{#if model.searchIndexes}}

        {{#pagination-component
        chunkSize=pageSize
        totalSize=model.searchIndexes.length
        sectionRequest='indexPageRequest'
        classToApplyIfVisible='paginated-table'}}
          {{table.search-indexes indexes=currentPageIndexes}}
        {{/pagination-component}}

      {{else}}
        <p>No search indexes found</p>
      {{/if}}
    {{/dashboard-module.body}}
  {{/dashboard-module.container}}
</div>


