<nav class="topbar">
  {{#link-to 'application' class="logo" }}
    <img src="assets/images/sample_logo.png">
  {{/link-to}}

  <ul class="topbar-nav">
    <li class="topbar-nav-item">
      {{#link-to 'help'}}
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        Help Section
      {{/link-to}}
    </li>
  </ul>
</nav>
