{{#dashboard-module}}
  {{#if model.isLoaded}}
    <div class="riak-object">
      {{object-metadata metadata=model.metadata isEditing=false}}
      {{object-contents model=model isEditing=false deleteObject="deleteObject"}}
      {{#object-version object=model}}{{/object-version}}
    </div>
  {{else}}
    {{loading-spinner}}
  {{/if}}
{{/dashboard-module}}


