{{#link-to 'bucket-type' bucketType class='cluster-resource-link'}}
  <span class="glyphicon glyphicon-inbox cluster-resource-icon" aria-hidden="true"></span>
  {{bucketType.bucketTypeId}}
{{/link-to}}
