{{#dashboard-module label='Welcome to Riak Explorer'}}
  <p>Select a cluster from the nav bar on the left to view its information.</p>
  <p>
    Need help? Visit the
    {{link-to 'help page' 'help'}}.
  </p>
{{/dashboard-module}}
