{{#dashboard-module label='Welcome to Riak Explorer'}}
  <p>Select a cluster from the nav bar on the left to view cluser information</p>
  <p>View the {{link-to 'Explorer API' 'explorer_api'}}</p>
{{/dashboard-module}}
