<div class='view-header'>
  {{breadcrumb-component
  clusterId=clusterId
  pageTitle=model.node}}
  {{view-label
  pre-label='Node Stats'
  label=model.node}}
</div>

{{#dashboard-module}}
  <table class="key-value-table">
    <tbody>
    {{#each model.stats as |stat|}}
      <tr>
        <td class='key'>{{stat.key}}</td>
        <td class='value'>{{stat.value}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/dashboard-module}}
