<div class='view-header'>
  {{breadcrumb-component
  clusterId=clusterId
  pageTitle=node_id}}
  {{view-label
  pre-label='Node Stats'
  label=node_id}}
</div>

{{#dashboard-module}}
  <table class='key-value-table'>
    <tbody>
    <tr>
      <td class='key'>Node id:</td>
      <td class='value'>{{node_id}}</td>
    </tr>
    <tr>
      <td class='key'>Riak Ping:</td>
      <td class='value'>{{model.message}}</td>
    </tr>
    </tbody>
  </table>
{{/dashboard-module}}
