<nav class="topbar">
  {{#link-to 'application' class="logo" }}
    <img src="assets/images/sample_logo.png">
  {{/link-to}}

  <ul class="topbar-nav">
    <li class="topbar-nav-item">
      {{#link-to 'application'}}
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
        Some Item
      {{/link-to}}
    </li>
  </ul>
</nav>
