{{!--TODO: Refactor once in Ember 2.0--}}

{{#each-in model.props as |key value|}}
  <tr>
    <td class='key'>
      {{key}}
      {{tooltip.bucket-props itemKey=key}}
    </td>
    <td class='value'>{{value}}</td>
  </tr>
{{/each-in}}