<thead>
<tr>
  <th class="name">Name</th>
  <th class="object-type">Object Type</th>
  <th class="n-val">n_val</th>
  <th class="res-stategy">Conflict Res. Strategy</th>
</tr>
</thead>
<tbody>
{{#each bucketTypes as |bt|}}
  <tr>
    <td>
      {{#link.explorer-resource resourceType='bucket-type' resourceObj=bucketType linkClass='cluster-resource-link'}}
        {{bucketType.name}}
      {{/link.explorer-resource}}
    </td>
    <td>
      {{bt.objectType}}
    </td>
    <td>
      <code>{{bt.nVal}}</code>
    </td>
    <td>
      <code>{{bt.resolutionStrategy}}</code>
    </td>
  </tr>
{{/each}}
</tbody>

