{{#each-in model.propsWithHelp as |propKey prop|}}
  <tr>
    <td class='key'>
      {{prop.name}}
      {{tooltip.bucket-props
      itemKey=propKey
      itemDescription=prop.description
      itemDefaultValue=prop.default
      itemIsEditable=prop.editable
      itemSchemaType=prop.json_schema_type}}
    </td>
    <td class='value'><code>{{prop.value}}</code></td>
  </tr>
{{/each-in}}