<tbody>
<tr>
  <td class="key">Last Modified:</td>
  <td class="value">{{object.dateLastModified}}</td>
</tr>
<tr>
  <td class="key">Etag:</td>
  <td class="value"><code>{{object.etag}}</code></td>
</tr>
<tr>
  <td class="key">Causal Context:</td>
  <td class="value"><code>{{object.causalContext}}</code></td>
</tr>
</tbody>