<tbody>
  <tr>
    <td class="key">Primary Key</td>
    <td class="value">
      <code class="comma-list">[{{#each table.partitionKey as |column|}}<span class="item">{{column.name}}</span>{{/each}}]</code>
    </td>
  </tr>
  <tr>
    <td class="key">Local Key</td>
    <td class="value">
      <code class="comma-list">[{{#each table.localKey as |column|}}<span class="item">{{column}}</span>{{/each}}]</code>
    </td>
  </tr>
  <tr>
    <td class="key">Table Columns</td>
    <td class="value">
      <code class="comma-list">
        [{{#each table.columns as |column|}}<span class="item">{{column.name}}(<em>{{column.type}}{{#if column.optional}}, optional{{/if}}</em>)</span>{{/each}}]
      </code>
    </td>
  </tr>
</tbody>

